/* GLOBAL STYLES */
/* Font Families Cheat Sheet
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Sunflower', sans-serif;
font-family: 'Nunito', sans-serif; */

body {
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Sunflower', sans-serif;
  color: #000000;
}

h1 {
  margin-top: -10px;
  /* to position  */
}


.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

/* NAVBAR */
.navbar {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  /* display: flex; this doesn't look good*/
}

.navbar-default .navbar-brand {
  color: #000000;
}

.navbar-default {
  background: rgba(0,0,0,.0);
  border: none;
}

.navbar-container {
  background: rgba(0,0,0,.0);
}

.navbar-border-destroyer {
  border: 0;
  border-radius: 0;
  padding-bottom: 0;
  background: rgba(0,0,0,.0);
}

.navbar-inverse .navbar-brand {
  color: #000000;
}

.navbar-default .navbar-brand:hover {
  color: #ffffff;
}


.nav-hover {
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all ease-in .5s;
}
.nav-hover:hover {
  color: #4b3c37;
  transition: all ease-in .5s;
}



/* HERO */
.hero-section {
  display: flex;
  height: 100vh;
  background-image: url("../img/sittin-down.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: center;
  align-items: center;
}

.hero-font {
  font-size: 10em;
  color: #000000;
}
/* ABOUT ME */
.about-me-section {
  background-color: #575540;
  padding: 60px;
}

.about-me-title {
  margin-bottom: 60px;
}
/* PROJECTS */
.projects-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #52614a;
}

.roast {
  background-image: url("../img/roasted-mustard.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
}

.chairs {
  background-image:url("../img/chefs-table.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
}

.scrollstrap {
  background-image: url("../img/bootstrap-scroll.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
}
/* CONTACT */
.contact-section {
  /* height: 50vh; */
  background-color: #575c46;
  padding-top: 60px;
  padding-bottom: 60px;
}
/* FOOTER */
.footer-section {
  display: flex;
  /* height: 60px; */
  background-color: black;
  padding-top: 10px;
}

.footer-hover:hover {
  color: #4b3c37;
}

/* MEDIA QUERIES */
/* Small Screens */
@media only screen and (min-width : 768px) {
}

@media only screen and (max-width : 768px) {
  .project-section {
    height: 50vh;
    align-content: row;
  }

}

/* Medium Screens */
@media only screen and (min-width : 992px) {
}

/* Large Screens */
@media only screen and (min-width : 1200px) {
}
